.tool-menu{
    display: flex;
    align-items: center;
}

.tool__copy{
    font-size: 12px;
    border: 1px solid #e2e6ed;
    margin: 0 10px;
    border-radius: 2px;
    cursor: pointer;
    padding: 0 5px;
}

.vertical-line{
    width: 1px;
    height: 12px;
    background: #e2e6ed;
}

.normal-edit-hidden{
    display: none !important;
}

.tool__require{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 16px;
    .require-des{
        font-size: 12px;
        color: #949aae;
    }
    .choice, .down-icon-dropdown{
        margin-left: 8px;
        .menu-container{
            left: -105px;
            top: 10px;
        }
    }
    .down-icon{
        object-fit: contain;
    }
    .down-icon-dropdown{
        height: 16px;
        margin-right: 16px;
    }
}

.tool__delete img, .tool__more{
    margin-left: 16px;
}
