.editable-select-wrapper{
    margin: 40px -24px 24px -24px;
}

.select-container{
    margin: 0 24px
}

.pull-select{
    margin-top: 10px !important;
    height: 35px !important;
    border: 1px solid #e2e6ed;
    width: 100%;
    font-size: 14px !important;
    .ant-select-selector{
        height: 35px !important;
    }
}
