.select-result{
    margin: 0 24px;
}
.select-result-item{
    font-size: 14px;
    color: #3d4757;
    line-height: 21px;
    white-space: pre-line;
    word-break: break-all;
    margin-top: 8px;
}

.content-hidden{
    display: none;
}

.none-edit{
    color: #c0c6cf;
}

.margin24{
    margin-left: 24px;
    margin-right: 24px;
}
